@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Header Styles */
.menu {
  background-color: transparent;
  text-align: center;
  padding-top: 30px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin: 0 30px;
}

.menu-button {
  background-color: transparent;
  color: darkgrey;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.menu-button:hover {
  color: black;
}

/* Section Styles */
.section {
  display: none;
  padding: 100px 20px;
}

.section.active {
  display: block;
}

/* Home Section Styles */
.home .logo img {
  width: 200px;
}

.home .social-icons {
  margin-top: 20px;
}

.home .social-icons img {
  width: 30px;
  margin-right: 10px;
}

/* Portfolio Section Styles */
.side-menu {
  width: 200px;
  height: 50vh; /* Adjust the height based on your requirements */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%; /* Adjust the top position based on your requirements */
  left: 0;
  transform: translateY(-50%);
  overflow-y: auto;
}

.projects-container {
  margin-left: 200px;
}

.project-section {
  display: none;
}

.project-section.active {
  display: block;
}

/* Contact Section Styles */
.fcf-form-class {
  max-width: 500px;
  margin: 0 auto;
}

.fcf-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.fcf-input-group {
  margin-bottom: 15px;
}

.fcf-form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.fcf-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.fcf-btn:hover {
  background-color: #555;
}

.visible {
  display: block !important;
}
